.top1{
    display: flex;
   height:100vh;
   position: relative;
   background-image: url('./images/bg.jpg');
   background-size: cover;
  }
.image{
  /* padding-right: 30px; */
    float:left;
    position: fixed;
    top: 50%;
    right: 19%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.content{
    width:90%;
    /* height:300px; */
    /* float: right; */
    padding-left: 400px;
}
.container {
    /* max-width: 300px; */
    margin: 0 auto;
    display:flex;
    padding-top: 40px;
    padding-right: 40px;
    border-radius: 10px;
    /* height: 500px; */
    /* border: 2px solid black; */
    /* width:1000px; */
    /* background-color: rgba(9, 27, 43,0.7); */
  }
  .head{
    text-align: center;
    /* padding-right: 100px; */
    font-size: 22px;
  }

  .inputt{
    padding:20px;
    padding-left: 12%;
  }

  .title{
    padding-left: 170px;
    padding-top: 60px;
    font-size: 40px;
    width: 350px;
  }
  h1 {
    /* text-align: center; */
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    border: 1px solid black;
  }
  .but{
    padding-left: 90px;
  }
  .reg{
    width:100%;
    padding-left: 40px;
    padding-top: 40px;
  }
  form button {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color:rgba(9, 27, 43,0.9);
    color: white;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: rgb(5, 23, 38);
  }