.home_back-grnd{
/* padding: 1%; */
 height:210vh;
 position: relative;
 background-image: url('./images/w-bg.jpg');
 background-size: cover;
}
.home_{
    padding:30px;
}
.imag{
    width: 100%;
}
.links {
    width: 55%;
    float: right;
    /* width: 1100px; */
}
.links li a:hover::after{
    content: "";
    width: 20%;
    height:3px;
    background-color:rgb(254, 254, 255);
    position:absolute;
    bottom:-4px;
    left:19px;
}
.home_cont{
    border-radius: 10px;
    height: 20px;
    margin-top: 0;
    background-color: rgb(9, 27, 43);
    /* padding: 1%; */
    display:flex;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position:relative;
    width:94%;
    /* position: absolute; */
}
.home_content{
    display: flex;
    padding: 20px;
}
.logo{
    padding-left: 40px;
}
.search-b{
    padding-top: 20px;
    padding-bottom: 20px;
}
.search-bar{
    background-color: rgba(9, 27, 43,0.6);
    border-radius: 10px;
    width:92%;
    height: 11vh;
    padding: 10px;
    padding-left: 60px;
}
.s-b{
    float: left;
    width: 45%;
}
.date-in{
    /* width: 70vh; */
    float: right;
    /* padding-bottom: 10px; */
}
.s-d{
    float: right;
    width:70%;
}
.search-but{
    height: 30px;
    color:white;
    background-color: rgb(9, 27, 43);
    border-radius: 10px;
}
.search-cont{
    /* padding-left: 10px; */
    width:20%;
    display: inline-block;
}
.in{
    width:45px;
}
.details{
    border-radius: 10px;
    color: white;
    width: 98%;
    height: 200px;
    background-color: rgb(9, 27, 43,0.8);
}
.desc{
    padding-left: 100px;
    width:20%;
    float: left;
}
.desc h3{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.temp{
    font-size: 30px;
    padding-top: 10px;
    padding-left: 26px;
    width:60%;
    float:right;
}
.hour-det{
    /* padding-top: 10px; */
    width: 98%;
    height: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.hour-det::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(220, 201, 173,0.0); 
  }
.hourly{
    border-radius: 10px;
    background-color: rgba(9, 27, 43,0.7);
    padding-bottom: 20px;
    flex: 1; 
  overflow-x: auto;
  white-space: nowrap;
}
.sep{
    display: inline-block;
    padding:15px;
}
.h_det p{
    margin: 30px;
}
.h_det{
    border-radius: 10px;
    background-color: rgba(172, 203, 231, 0.3);
    width: 120px;
    height:200px;
    text-align: center;
    color:white;
    border:2px solid white;
}
.hour-ext{
    border-radius: 10px;
    background-color: rgba(172, 203, 231, 0.3);
    text-align: center;
    color:white;
    border:2px solid white;
    width: 120px;
    float:center;
    padding: 5px;
    position: absolute;
}
.pad-ext{
    padding-left: 550px;
    padding-bottom: 30px;
}
.d-rep{
    width:98%;
}
.day-det{
    /* padding-top: 0.1%;   */
    width: 58%;
    height:53vh;
    float:left;
    overflow-y: scroll;
    overflow-x: hidden; 
    white-space: nowrap;
}
.day-det::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(220, 201, 173,0.0); 
  }
.dayly{
    border-radius: 10px;
    background-color: rgba(9, 27, 43,0.7);
    padding-bottom: 20px;
    /* flex: 1; 
  overflow-y: auto;
  white-space: nowrap; */
} 
.d-sep{
    padding:15px;
    /* display: inline-block; */
}
.d-con{
    border-radius: 10px;
    background-color: rgba(172, 203, 231, 0.3);
    color:white;
    padding-top: 10px;
    padding: 20px;
    border:2px solid white;
    /* height: 100px; */
    display: flex;
    justify-content: space-evenly;
}
.day{
    padding-top: 40px;
}
.p1{
    float: left;
    width: 45;
}
.p2{
    float: right;
    width: 45%;
}
  .info {
    width: 60%;
    align-items: center;
  }
  .info p {
    align-items: center;
    /* float: right; */
  }
.ind{
    width: 40%;
    float: right;
}
.indices{
    border-radius: 10px;
    background-color: rgba(9, 27, 43,0.7);
    padding-bottom: 20px;
}
/* .dis{
    background-color: aqua;
} */
 